
# MySQL(開発環境)
DB_DATABASE=easy-debate
DB_USER=db_user
DB_PASSWORD=password
DB_ROOT_PASSWORD=root

# prismaからMySQLへの接続URL
DATABASE_URL="mysql://db_user:password@db:3306/easy-debate"
# prismaからMySQLへのマイグレーション用URL
SHADOW_DATABASE_URL="mysql://db_user_shadow:password-shadow@db:3306/easy-debate_shadow"
# prismaデバッグモード
DEBUG="prisma*"

# CORS_ORIGINS許容設定（カンマ区切りで複数指定可能）
CORS_ORIGINS=http://localhost:5173
